<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
        <title>WeUI</title>
        <!-- 引入 WeUI -->
        <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.0.2/weui.min.css"/>
    </head>





    <body>

       <div class="weui-msg">
            <div class="weui-msg__icon-area"><i class="weui-icon-success weui-icon_msg"></i></div>
            <div class="weui-msg__text-area">
                <h2 class="weui-msg__title">资料修改成功</h2>
                <p class="weui-msg__desc">您已成功修改个人资料,点击左上角"关闭"回到微信
{#                    <a href="javascript:void(0);">文字链接</a></p>#}
            </div>
            <div class="weui-msg__opr-area">
                <p class="weui-btn-area">
{#                    <a href="javascript:history.back();" class="weui-btn weui-btn_primary">推荐操作</a>#}
                    <a href="javascript:history.back();" class="weui-btn weui-btn_default">返回继续修改</a>
                </p>
            </div>
            <div class="weui-msg__extra-area">
                <div class="weui-footer">
                    <p class="weui-footer__links">
                        <a href="javascript:void(0);" class="weui-footer__link">瞎喵www.xiamiao.cn</a>
                    </p>
                    <p class="weui-footer__text">Copyright &copy; www.xiamiao.cn 2016  suppot by weui.io</p>
                </div>
            </div>
        </div>


{#        <a href="javascript:;" class="weui-btn weui-btn_primary">绿色按钮</a>#}
        </body>
</html>